.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.formTitle {
    margin-bottom: 24px;
    font-size: 36px;
}

.formFields {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.formField {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.formFieldTitle {
    margin-bottom: 8px;
    font-size: 22px;
}

.formMessage {
    margin-bottom: 20px;
    font-size: 25px;
}

.formFieldInput {
    width: 100%;
    border: 1px solid #000000;
    border-radius: 4px;
    padding: 16px 24px;
    font-family: inherit;
    font-size: 22px;
}

.formActions {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 8px;
}

.formReset {
    font-family: "Rubic One", sans-serif;
    background-color: transparent;
    font-size: 20px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    border: none;
    padding: 16px 24px;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.formReset:hover {
    color: yellow;
    background-color: #000;
}

.formReset:disabled {
    opacity: .9;
    pointer-events: none;
}

.formReset:hover + .formSubmit {
    color: #000;
    background-color: transparent;
}

.formSubmit {
    background-color: #000;
    color: #fff;
    font-family: "Rubic One", sans-serif;
    font-size: 20px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    border: none;
    padding: 16px 24px;
    transition: color 0.3s ease-in, background-color 0.3s ease-in;
}

.formSubmit:hover {
    color: yellow;
}

.formSubmit:disabled {
    background-color: #666;
    color: #999;
    pointer-events: none;
}

.error {
    margin-bottom: 20px;
    font-size: 25px;
    opacity: 0;
    user-select: none;
    pointer-events: none;
    transition: all 0.2s ease;
}

.showError{
    opacity: 1;
    user-select: auto;
    pointer-events: auto;
}
