/*!********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./app/(pages)/register/page.module.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************************/
.page_mainInner__l7qeT{
    margin: 0px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 75vh;
}
/*!***********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./app/components/RegisterForm/RegisterForm.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************/
.RegisterForm_form__88IL9 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.RegisterForm_formTitle__fwyXT {
    margin-bottom: 24px;
    font-size: 36px;
}

.RegisterForm_formFields__whVMo {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.RegisterForm_formField__dnNv4 {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.RegisterForm_formFieldTitle__YHhxx {
    margin-bottom: 8px;
    font-size: 22px;
}

.RegisterForm_formMessage__S_yhT {
    margin-bottom: 20px;
    font-size: 25px;
}

.RegisterForm_formFieldInput__hY5K_ {
    width: 100%;
    border: 1px solid #000000;
    border-radius: 4px;
    padding: 16px 24px;
    font-family: inherit;
    font-size: 22px;
}

.RegisterForm_formActions__dCTrN {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 8px;
}

.RegisterForm_formReset__K6UW1 {
    font-family: "Rubic One", sans-serif;
    background-color: transparent;
    font-size: 20px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    border: none;
    padding: 16px 24px;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.RegisterForm_formReset__K6UW1:hover {
    color: yellow;
    background-color: #000;
}

.RegisterForm_formReset__K6UW1:disabled {
    opacity: .9;
    pointer-events: none;
}

.RegisterForm_formReset__K6UW1:hover + .RegisterForm_formSubmit__z51tb {
    color: #000;
    background-color: transparent;
}

.RegisterForm_formSubmit__z51tb {
    background-color: #000;
    color: #fff;
    font-family: "Rubic One", sans-serif;
    font-size: 20px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    border: none;
    padding: 16px 24px;
    transition: color 0.3s ease-in, background-color 0.3s ease-in;
}

.RegisterForm_formSubmit__z51tb:hover {
    color: yellow;
}

.RegisterForm_formSubmit__z51tb:disabled {
    background-color: #666;
    color: #999;
    pointer-events: none;
}

.RegisterForm_error__09ZP2 {
    margin-bottom: 20px;
    font-size: 25px;
    opacity: 0;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
    pointer-events: none;
    transition: all 0.2s ease;
}

.RegisterForm_showError__XDXkM{
    opacity: 1;
    -webkit-user-select: auto;
       -moz-user-select: auto;
            user-select: auto;
    pointer-events: auto;
}

