/*!***************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./app/components/AuthForm/AuthForm.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************/
.AuthForm_form__SAM4_ {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.AuthForm_form__title__bh8UF {
  margin-bottom: 24px;
  font-size: 36px;
}

.AuthForm_form__fields__9NEi0 {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.AuthForm_form__field__8_VIY {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.AuthForm_form__field-title__KiNGx {
  margin-bottom: 8px;
  font-size: 22px;
}

.AuthForm_form__field-input__rnkmC {
  width: 100%;
  border: 1px solid #000000;
  border-radius: 4px;
  padding: 16px 24px;
  font-family: inherit;
  font-size: 22px;
}

.AuthForm_form__actions__QgxEI {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 8px;
}

.AuthForm_form__reset__t8DRW {
  font-family: "Rubic One", sans-serif;
  background-color: transparent;
  font-size: 20px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  border: none;
  padding: 16px 24px;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.AuthForm_form__reset__t8DRW:hover {
  color: yellow;
  background-color: #000;
}

.AuthForm_form__reset__t8DRW:disabled {
  opacity: .9;
  pointer-events: none;
}

.AuthForm_form__reset__t8DRW:hover + .AuthForm_form__submit__pJzk2 {
  color: #000;
  background-color: transparent;
}

.AuthForm_form__submit__pJzk2 {
  background-color: #000;
  color: #fff;
  font-family: "Rubic One", sans-serif;
  font-size: 20px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  border: none;
  padding: 16px 24px;
  transition: color 0.3s ease-in, background-color 0.3s ease-in;
}

.AuthForm_form__submit__pJzk2:hover {
  color: yellow;
}

.AuthForm_form__submit__pJzk2:disabled {
  opacity: .5;
  pointer-events: none;
}

