/*!*******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./app/(pages)/profile/page.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************/
.page_mainInner__QMpPc{
    margin: 0px 100px;
    justify-content: center;
    align-items: center;
    min-height: 75vh;
}

.page_logoutLink__FMvGF {
    display: block;
}

.page_profileTitle__Q3X2n:not(:first-of-type) {
    margin-top: 40px;
}

.page_profileTitle__Q3X2n {
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 4px solid black;
    padding: 20px 40px 14px;
    position: relative;
}

.page_profileTitle__Q3X2n::before {
    content: '';
    position: absolute;
    top: 6px;
    left: 25px;
    background-color: #ffff00;
    width: 60px;
    height: 45px;
    z-index: -1;
}

.page_additionalInfo__1wobP {
    line-height: 1.1;
    margin-bottom: 20px;
    font-size: 25px;
}

.page_additionalActions__p5poL {
    margin-top: 100px;
    display: inline-block;
}

@media (max-width: 768px) {
    .page_logoutLink__FMvGF {
        margin-left: 0;
    }
}
